<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="portfolio for web design projects by kavitha Suri">
  <meta name="author" content="Kavitha">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> 

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/skeleton.css"> 
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header id="header" class="main_nav ribbon">
   <div class="container">
      <div class="twelve columns">
          <div class="logo">
              <a href="#" title="">Kavitha Suryanarayanan</a>
          </div>
      </div>
   </div> 
</header><!-- /header -->

<div class="container">
      
      {{ content }}
      
</div><!-- /.container -->

<footer>

  <div class="container">
      <div class="container">
          <div class=" row twelve columns">
            
            <ul class="social">
              
              
              <li class="twitter"><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
              <li class="github"><a href="#"><i class="fa fa-github-square fa-lg"></i></a></li>
              <li class="youtube"><a href="#"><i class="fa fa-youtube-square fa-lg"></i></a></li>
              <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a></li>


            </ul>


          </div>
          <div class="row twelve columns"><p class="copyright">&copy; 2017 Kavitha Suryanarayanan | All About Me.  All Rights Reserved.</p> </div>
      </div>
  </div>

</footer>


  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
